<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "/shared/head"%>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= render "/shared/link"%>

</head>
<body class="hold-transition login-page">

  <%= yield %>

</body>
</html>